.checkout-container {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shipping-address-container,
.price-details-container {
    flex: 1;
    padding: 20px;
}

.shipping-address-container {
    border-right: 1px solid #ddd;
}