<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Boy Details</title>
</head>
<body>
    <h1>All Delivery Boys</h1>
    <table border="1">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>City</th>
            <th>Pincode</th>
            {% comment %} <th>ID Proof Image</th> {% endcomment %}
            <th>Action</th>
        </tr>
        {% for delivery_boy in delivery_boys %}
        <tr>
            <td>{{ delivery_boy.full_name }}</td>
            <td>{{ delivery_boy.email }}</td>
            <td>{{ delivery_boy.phone_number }}</td>
            <td>{{ delivery_boy.date_of_birth }}</td>
            <td>{{ delivery_boy.address }}</td>
            <td>{{ delivery_boy.city }}</td>
            <td>{{ delivery_boy.pincode }}</td>
            {% comment %} <td><img src="{{ delivery_boy.id_proof_image.url }}" alt="ID Proof"></td> {% endcomment %}
           <td> <form method="post">
                {% csrf_token %}
                <input type="hidden" name="delivery_boy_id" value="{{ delivery_boy.id }}">
                <button type="submit" name="send_email">Sent Email</button>
            </form></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
